# PYTHON â€“ WORKSHEET 9

In [8]:
import pandas as pd
import numpy as np
pd.NA == pd.NA

In [9]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(4))
print(s.ndim)

1

#### 11. Write a Pandas program to create and display a DataFrame from the following dictionary data and labels:

In [16]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin','Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = [1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(exam_data , index=labels)
print(df)

         name  score  attempts qualify
1   Anastasia   12.5         1     yes
2        Dima    9.0         3      no
3   Katherine   16.5         2     yes
4       James    NaN         3      no
5       Emily    9.0         2      no
6     Michael   20.0         3     yes
7     Matthew   14.5         1     yes
8       Laura    NaN         1      no
9       Kevin    8.0         2      no
10      Jonas   19.0         1     yes

#### 12. Write a Pandas program to get the first 5 rows of the DataFrame created in Q11

In [17]:
print("First Five rows of the data frame:")
print(df.iloc[:5])

First Five rows of the data frame:
        name  score  attempts qualify
1  Anastasia   12.5         1     yes
2       Dima    9.0         3      no
3  Katherine   16.5         2     yes
4      James    NaN         3      no
5      Emily    9.0         2      no

#### 13.  Write a Pandas program to select the 'name' and 'score' columns of the DataFrame created in Q11

In [18]:
print("Select Name and Score columns:")
print(df[['name', 'score']])

Select Name and Score columns:
         name  score
1   Anastasia   12.5
2        Dima    9.0
3   Katherine   16.5
4       James    NaN
5       Emily    9.0
6     Michael   20.0
7     Matthew   14.5
8       Laura    NaN
9       Kevin    8.0
10      Jonas   19.0

#### 14.  Write a Pandas program to select 'name' and 'score' columns in row indexes 3, 5, 6, 8 from the DataFrame created in Q11.

In [19]:
print("Select Name and Score columns and 3,5,6,8 rows:")
print(df.iloc[[3,5,6,8], [1, 3]])

Select Name and Score columns and 3,5,6,8 rows:
   score qualify
4    NaN      no
6   20.0     yes
7   14.5     yes
9    8.0      no

#### 15.  Write a Pandas program to select the rows where the score is between 15 and 20 (inclusive) from the DataFrame created in Q11.

In [20]:
print("Rows where score between 15 and 20:")
print(df[df['score'].between(15, 20)])

Rows where score between 15 and 20:
         name  score  attempts qualify
3   Katherine   16.5         2     yes
6     Michael   20.0         3     yes
10      Jonas   19.0         1     yes